<br>
 <div class="jumbotron">
   <h1 class="roccit">Rocc!T</h1>
   <p id="index-title">Discuss what's on your mind with the world</p>
   <p>
     <%= link_to "Sign In", new_session_path%> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Upcoming Rave events?</h2>
     <p>Rocc!t updates new and upcoming events in SF</p>
   </div>
   <div class="col-md-4">
     <h2>Deals</h2>
     <p>The Deal of the deals are picked out for you with the help of Rocc!t users.</p>
   </div>
   <div class="col-md-4">
     <h2>Rocc!t</h2>
     <p>Rocc!t users are here for you.  Whether you are seeking help, friends or just to discuss your thoughts.</p>
   </div>
 </div>
